*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

button{
    position: absolute;
    height: 30px;
    left: 50%;
    top: 15px;
    padding: 3.25px;
    background: rgb(196, 235, 40);
    transform: translateX(-50%);


}
h6 {
    width: 120px;
    color: chartreuse;
    font-size: 1rem;
    font-weight: 900;
}

#flip-camera {
 width: 100px;
 padding: 1em;
 line-height: 0;

}
#streamDeviceInfo {

    position: absolute;
    top: 10%;
    left: 45%;
    width: 100%;

   z-index: 3;
}
.take-photo {
    position: absolute;
    bottom: 1.6%;
    left: 50%;
    transform: translateX(-50%);
    background-color: forestgreen;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    padding: .35em;
    cursor: pointer;
    color: white;
    font-weight: 900;
    display: grid;
    place-items: center;
}

.save-photo {
    position: absolute;
    cursor: pointer;
    bottom: 4%;
    left: 80%;
    color: white;

    font-weight: 900;
    transform: translateX(-50%);
    background-color: red;
    padding: .45em;

}

.myCanvas {
    transition: 2s;
}

.mute-sound {
    font-size: 2rem;
    position: absolute;
    top: 2%;
    left: 25%;
    cursor: pointer;
}
